@font-face {
  font-family: "iconfont"; 
  src: url('iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-loading:before {
  content: "\e608";
}

.icon-guanbi:before {
  content: "\e600";
}

.icon-anniu_guanbi:before {
  content: "\eaef";
}

.icon-guanbi1:before {
  content: "\e62a";
}

.icon-bianji:before {
  content: "\e8ac";
}

.icon-bofangjilu:before {
  content: "\e8ad";
}

.icon-chuangzuo:before {
  content: "\e8ae";
}

.icon-chenggong:before {
  content: "\e8af";
}

.icon-dianzan:before {
  content: "\e8b0";
}

.icon-dingwei:before {
  content: "\e8b1";
}

.icon-dianying:before {
  content: "\e8b2";
}

.icon-ditu:before {
  content: "\e8b3";
}

.icon-dingdan:before {
  content: "\e8b4";
}

.icon-fuzhi:before {
  content: "\e8b5";
}

.icon-mima:before {
  content: "\e8b6";
}

.icon-nan:before {
  content: "\e8b7";
}

.icon-nv:before {
  content: "\e8b8";
}

.icon-pengyouquan:before {
  content: "\e8b9";
}

.icon-saoyisao:before {
  content: "\e8ba";
}

.icon-rili:before {
  content: "\e8bb";
}

.icon-pinglun:before {
  content: "\e8bc";
}

.icon-riqian:before {
  content: "\e8bd";
}

.icon-shanchu:before {
  content: "\e8be";
}

.icon-shangchuan:before {
  content: "\e8bf";
}

.icon-shengyinguanbi:before {
  content: "\e8c0";
}

.icon-shibai:before {
  content: "\e8c1";
}

.icon-shijian:before {
  content: "\e8c2";
}

.icon-shengyin:before {
  content: "\e8c3";
}

.icon-shuaxin:before {
  content: "\e8c4";
}

.icon-sousuo:before {
  content: "\e8c5";
}

.icon-tanhao:before {
  content: "\e8c6";
}

.icon-tishi:before {
  content: "\e8c7";
}

.icon-tupian:before {
  content: "\e8c8";
}

.icon-weixuanzhong:before {
  content: "\e8c9";
}

.icon-wenjuan:before {
  content: "\e8ca";
}

.icon-weixin:before {
  content: "\e8cb";
}

.icon-xiangji:before {
  content: "\e8cc";
}

.icon-xiaoxi:before {
  content: "\e8cd";
}

.icon-xiazai:before {
  content: "\e8ce";
}

.icon-zhiwen:before {
  content: "\e8cf";
}

